body {
    background-color: #e5f9f4;
    font-family: 'Philosopher', sans-serif;
}

.intro {
    text-align: center;
}

h1 {
    color: #0d04f9;
    font-weight: bold;
}

img {
    border-radius: 50%;
    z-index: 1;
}

.quote {
    color: #0d04f9;
    font-family: 'Caveat', cursive;
    font-size: 24px;
    font-weight: bold;
}

.list, #bio, form {
    font-size: 18px;
    margin: 1% 33%;
    padding: 2%;
}

.container {
    text-align: center;
}

#myCarousel {
    position: absolute;
    right: 32%;
}